.playlist-song-modal-images {
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px;
}
.drop-down-button {
    background-color:transparent;
    border-color: transparent;
  right: 48px;
  z-index: 100;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.016em;
}

.drop-down-button:focus {
  outline: none;
}
.drop-down-menu {
  background-color: rgb(40, 40, 40);
      min-width: 160px;
    padding: 5px 0;
    position: absolute;
    visibility: hidden;
    height: 30px;
  right: 11px;
  z-index: 1000;
      border: 1px solid rgba(0,0,0,.15);
          border-radius: .25rem;
}

.all-playlists-for-song {
  width: 250px;
}

.playlist-modal {
  text-align: center;
}

.modal-child > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist-modal-image-title {
  cursor: pointer;
}

.playlist-song-modal-title {
  color: rgb(3, 210, 3);

}

.playlist-song-image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.active-dropdown {
  visibility: visible;
}

.add-song-text {
  width: 100%;
  color: #b3b3b3;
    font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 54px;
    width: fit-content;
    padding-top: 3px;
    line-height: 26px;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: default;
}

.add-song-text:hover {
  width: 75%;
  float: left;
  text-align: initial;
  font-size: 13px;
  padding: 3px 20px;
    line-height: 26px;
      color: #fff;
    background-color: #333;
    border-color: #333;
    text-decoration: none;
    overflow-x: hidden;
}