// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-index-master{
     background-image: linear-gradient(to bottom, #130835, #1c1b1a);
    height: 120vh;
        overflow-y: scroll;
}
.all-albums {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     flex-wrap: wrap;
     margin-left: 250px;
     margin-top: 50px;

}

.individual-album {
     max-width: 177px;
     max-height: 177px;
     box-shadow: 0px 0px 9px 3px #00000066;
     margin-left: 20px;
     margin-top: 10px;
}
.album-title {
     margin-top: 15px;
     font-family: Circular, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: white;
     text-align: center;
     letter-spacing: 1px;


}

a {
     color: white;
      &:hover {
          cursor: pointer;
     }
}

.album-artist {
     font-family: Circular, Helvetica, Arial, sans-serif;
     font-size: 13px;
     color: #d2d2d273;
     text-align: center;
     margin-top: 10px;
}