.album-show {
    position: absolute;
    height: 270px;
    width: 270px;
    margin-left: 280px;
    margin-top: 40px;
    box-shadow: 0px 0px 9px 3px #00000066;

}

.album-show-master{
    background-image: linear-gradient(to bottom, #4d1c02, #1c1b1a);
    height: 100vh;
    overflow-y: scroll;
}

.album-title-show {
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

.album-artist-show {
    text-align: center;
    color: #b3b3b3;
    font-size: 18px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

.block1 {
    display: flex;
    justify-content: space-between;
        align-items: baseline;

}


.block2 {
    display: flex;
    justify-content: space-between;
}

.all-songs{
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: -webkit-fill-available;
    margin-left: 580px;
    margin-top: 40px;
    margin-right: 50px;
}

.song-unit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 10px 10px;
    transition: background-color 0.5s ease-out;
    &:hover {
        background-color: rgba(0,0,0,.3);
    }
    width: calc(98vw - 600px)
}


.song-title{
    // min-width:200px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #f2f1f1;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 100%;
    width: 100%;
}

.song-length {
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #8d8d8d;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    float: left;
}

.music-note{ 
    margin-right: 20px;
    color: #8d8d8d;
    display: inline;
}

.play-icon{
    margin-right: 18px;
    color: #f2f1f1;
    display: none;
}

.green-pause-icon {
    margin-right: 24px;
    color: #1ed760;
    display: none;
}
.green-playing-icon {
    margin-right: 22px;
    color: #1ed760;
    display: inline;
}
.green-song-title{
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #1ed760;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 100%;
    width: 100%;
    margin-top: 25px;
    min-width: 192px;
}

.green-song-length {
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #1ed760;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
}

