.background-overall{
    background-image: linear-gradient(to bottom, #f45f81, #f79260);
}


.main-content {
    background: image-url("background-main.svg") no-repeat center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.direction-message {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color:white;
    margin-top: 190px;
}


.web-player-link {
    font-family: Circular, Helvetica, Arial, sans-serif;
    background-color:#1DB954;
    border-radius: 500px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 16px 108px 16px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease-out;

    &:hover{
        background-color: #1ED760;;
    }

    &:focus {
        background-color: #1aa34a;
    }

    &:active{
        background-color: #1aa34a;
    }
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}