.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.main-nav > h2 {
    color: white;
    margin-right: 20px;
    font-size: 20px;
}
.main-nav > button{
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-right: 140px;
    background-color: #20a54e;
    border-radius: 500px;
    font-size: 14px;
    padding: 9px 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: rgb(29, 185, 84);
    }

    &:focus {
        background-color: rgb(29, 184, 84);
    }

    &:active{
        background-color: #1aa34a;
    }
}
.right-nav{
    margin-right: 140px;
}
.session {
    // justify-content: flex-end;
    padding: 13px;
    color:rgba(255, 255, 255, 1);
}

.main-nav > a:hover{
    color: #1ed760;
}
.main-nav > a:last-child{
    margin-right: 140px;
}


.left-nav{
    display: flex; 
    margin-left: 60px;
}
.nav-logo{
    width: 60px;
    height: 62px;
    background: image-url("logo.svg") no-repeat;
    justify-content: space-between;
    margin-left: 80px;
    margin-top: 20px;
}

.nav-link-to-home{
    font-family: Cabin;
    color: black;
    font-size: 38px;
    font-weight: 550;
    margin-top: 27px;
    margin-left: 7px;
    margin-bottom: 30px;
}