.main-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.main-nav > h2 {
    color: white;
    margin-right: 20px;
    font-size: 20px;
}
.main-nav > button{
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-right: 140px;
    background-color: #20a54e;
    border-radius: 500px;
    font-size: 14px;
    padding: 9px 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: rgb(29, 185, 84);
    }

    &:focus {
        background-color: rgb(29, 184, 84);
    }

    &:active{
        background-color: #1aa34a;
    }
}

.main-nav > a {
    margin: 0px;
    padding: 13px;
    color:rgba(255, 255, 255, 1);
}

.main-nav > a:hover{
    color: #1ed760;
}
.main-nav > a:last-child{
    margin-right: 140px;
}