.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.right-nav > h2 {
    display: inline;
    color: white;
    margin-right: 10px;
    font-size: 19px;
}
.right-nav > button{
    font-family: Circular, Helvetica, Arial, sans-serif;
    background-color: #20a54e;
    border-radius: 500px;
    font-size: 14px;
    padding: 6px 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease-out;


    &:hover{
        background-color: rgb(29, 185, 84);
    }

    &:focus {
        background-color: rgb(29, 184, 84);
    }

    &:active{
        background-color: #1aa34a;
    }
}
.right-nav{
    margin-right: 100px;
}
.session {
    padding: 13px;
    color:rgba(255, 255, 255, 1);
    &:hover{
    color: #1ed760;
    }
}

.left-nav{
    display: flex; 
    margin-left: 60px;
}
.nav-logo{
    font-size: 50px;
    justify-content: space-between;
    margin-left: 80px;
    margin-top: 21px;
    color: white;
}

.nav-link-to-home{
    font-family: Cabin;
    color: white;
    font-size: 30px;
    font-weight: 550;
    margin-top: 27px;
    margin-left: 7px;
    margin-bottom: 30px;
}

.music-for-all {
    margin-top: 150px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    color:white;
    font-weight: bold;
}

.garbagio {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color:white;
    // font-weight: bold;
}