.search-master{
    background-color: rgb(8,8,8);
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    
}

.search-bar {
    left: 230px;
    right: 0;
    position: absolute;
    background-color: #282828;
    padding: 26px;
    top: 0;
    z-index: 50;
}
.playlist-index-box-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        margin-right: 20px;
}

.all-playlists-search {
             display: flex;
     flex-direction: row;
     justify-content: flex-start;
     flex-wrap: wrap;
     margin-left: 260px;
     margin-top: -35px;
    padding-bottom: 300px;
}

.all-albums-search {
         display: flex;
     flex-direction: row;
     justify-content: flex-start;
     flex-wrap: wrap;
     margin-left: 240px;
     margin-top: -35px;
}

.all-artists-search {
        display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: 250px;
    margin-top: 60px;
}

.search-bar-text {
    background-color: #282828;
    padding-left: 30px;
    width: 95%;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    font-weight: bold;
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
}
.playlists-header{
    padding-top: 70px;
    padding-bottom: 20px;
    top: 20px;
    position: relative;
    margin-left:250px;
    font-size: 36px;
    color: #fff;
    border-bottom: 1px solid transparent;
}
.artists-header {
    top: 120px;
    position: relative;
    margin-left:250px;
    font-size: 36px;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.albums-header {
        top: 20px;
    position: relative;
    margin-left:250px;
    font-size: 36px;
    color: #fff;
    border-bottom: 1px solid transparent;
}
.search-before {
    left: 230px;
        display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    // margin: 0 auto;
    color: #fff;
    text-align: center;
}

.search-before h1 {
    font-size: 33px;
        line-height: 36px;
    width: 85%;
}

.search-before p {
    padding-top: 10px;
    color: #B3B3B3;
    letter-spacing: 0.05em;
    width: 85%;
    font-size: 14px;

}