.top-nav-master {
    display: flex;
    justify-content: center;
}

.top-nav-space {
    display: flex;
    justify-content: space-between;
}

.top-nav-space .top-nav-albums,
.top-nav-space .top-nav-artists{
    margin-top: 50px;
    padding-bottom: 2px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px; 
    letter-spacing: 3px;
    color: #b3b3b3;
    font-weight: bold;
    transition: color 0.5s ease-out;
    transition: border 0.2s ease-out;
    
    &:hover {
        color: #fff;
        margin-top: 48px;
        border-bottom: 2px solid;
        border-bottom-color: #1db954;
    }

}